infrastructure/step_function_daily.json
{
  "Comment": "Alpha Engine Weekday Pipeline — daily data collection, predictor inference, executor start. Runs Mon-Fri 6:05 AM PT (13:05 UTC).",
  "StartAt": "CheckTradingDay",
  "States": {

    "CheckTradingDay": {
      "Type": "Task",
      "Comment": "Skip pipeline on NYSE holidays (Good Friday, MLK Day, etc.)",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "cd /home/ec2-user/alpha-engine-data",
            "source .venv/bin/activate",
            "python trading_calendar.py"
          ],
          "executionTimeout": ["30"]
        },
        "TimeoutSeconds": 30
      },
      "TimeoutSeconds": 60,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyHolidaySkip",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.trading_day_result",
      "Next": "WaitForTradingDayCheck"
    },

    "WaitForTradingDayCheck": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.trading_day_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 5,
          "IntervalSeconds": 5,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyHolidaySkip",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.trading_day_poll",
      "Next": "CheckTradingDayResult"
    },

    "CheckTradingDayResult": {
      "Type": "Choice",
      "Comment": "Exit code 0 = trading day (proceed), non-zero = holiday (skip)",
      "Choices": [
        {
          "Variable": "$.trading_day_poll.Status",
          "StringEquals": "Success",
          "Next": "DailyData"
        }
      ],
      "Default": "NotifyHolidaySkip"
    },

    "NotifyHolidaySkip": {
      "Type": "Task",
      "Comment": "Notify that pipeline was skipped due to market holiday",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Weekday Pipeline — Skipped (Market Holiday)",
        "Message": "Daily pipeline skipped — NYSE is closed today (market holiday or weekend). No data collection, inference, or trading."
      },
      "ResultPath": "$.holiday_notify",
      "End": true
    },

    "DailyData": {
      "Type": "Task",
      "Comment": "Capture today's OHLCV closes for all tickers (EC2 via SSM)",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "cd /home/ec2-user/alpha-engine-data",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "source .venv/bin/activate",
            "python weekly_collector.py --daily 2>&1 | tee /var/log/daily-data.log",
            "echo \"EXIT_CODE=$?\""
          ],
          "executionTimeout": ["420"]
        },
        "TimeoutSeconds": 420
      },
      "TimeoutSeconds": 480,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.daily_data_result",
      "Next": "WaitForDailyData"
    },

    "WaitForDailyData": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.daily_data_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 10,
          "IntervalSeconds": 10,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.daily_data_poll",
      "Next": "CheckDailyDataStatus"
    },

    "CheckDailyDataStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.daily_data_poll.Status",
          "StringEquals": "Success",
          "Next": "PredictorInference"
        },
        {
          "Variable": "$.daily_data_poll.Status",
          "StringEquals": "InProgress",
          "Next": "DailyDataWait"
        },
        {
          "Variable": "$.daily_data_poll.Status",
          "StringEquals": "Pending",
          "Next": "DailyDataWait"
        }
      ],
      "Default": "HandleFailure"
    },

    "DailyDataWait": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "WaitForDailyData"
    },

    "PredictorInference": {
      "Type": "Task",
      "Comment": "Run daily GBM predictions + morning briefing email",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-predictor-inference:live",
        "Payload": {
          "action": "predict"
        }
      },
      "TimeoutSeconds": 900,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.predictor_result",
      "Next": "PredictorHealthCheck"
    },

    "PredictorHealthCheck": {
      "Type": "Task",
      "Comment": "Daily predictor model health — IC, hit rate, calibration, retrain triggers",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-predictor-health-check:live",
        "Payload": {
          "action": "check"
        }
      },
      "TimeoutSeconds": 180,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 30,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Health check is non-blocking — continue to data health check and executor",
          "Next": "HealthCheck",
          "ResultPath": "$.predictor_health_error"
        }
      ],
      "ResultPath": "$.predictor_health_result",
      "Next": "HealthCheck"
    },

    "HealthCheck": {
      "Type": "Task",
      "Comment": "Check data freshness — non-blocking (alerts on failure but does not halt pipeline)",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "cd /home/ec2-user/alpha-engine-data",
            "source .venv/bin/activate",
            "python health_checker.py --alert 2>&1 | tee /var/log/health-check.log"
          ],
          "executionTimeout": ["60"]
        },
        "TimeoutSeconds": 60
      },
      "TimeoutSeconds": 90,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Health check failure is non-blocking — log and continue to executor",
          "Next": "StartExecutorEC2",
          "ResultPath": "$.health_check_error"
        }
      ],
      "ResultPath": "$.health_check_result",
      "Next": "WaitForHealthCheck"
    },

    "WaitForHealthCheck": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.health_check_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 5,
          "IntervalSeconds": 5,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Non-blocking — continue even if health check polling fails",
          "Next": "StartExecutorEC2",
          "ResultPath": "$.health_check_error"
        }
      ],
      "ResultPath": "$.health_check_poll",
      "Next": "StartExecutorEC2"
    },

    "StartExecutorEC2": {
      "Type": "Task",
      "Comment": "Start the trading EC2 instance for executor + daemon",
      "Resource": "arn:aws:states:::aws-sdk:ec2:startInstances",
      "Parameters": {
        "InstanceIds.$": "$.trading_instance_id"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "MaxAttempts": 2,
          "IntervalSeconds": 30,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.ec2_start_result",
      "End": true
    },

    "HandleFailure": {
      "Type": "Task",
      "Comment": "Failure alert via SNS",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Weekday Pipeline — FAILED",
        "Message.$": "States.Format('Weekday pipeline failed. Error: {}', States.JsonToString($.error))"
      },
      "ResultPath": "$.failure_notify",
      "Next": "FailExecution"
    },

    "FailExecution": {
      "Type": "Fail",
      "Error": "DailyPipelineFailure",
      "Cause": "One or more weekday pipeline steps failed."
    }
  }
}
