infrastructure/step_function.json
{
  "Comment": "Alpha Engine Saturday Pipeline — orchestrates weekly data collection, RAG ingestion, research, predictor training, and backtesting sequentially with fail-fast error handling. RAG runs before Research (fresh knowledge base). Backtester runs AFTER predictor training (depends on model weights).",
  "StartAt": "DataPhase1",
  "States": {

    "DataPhase1": {
      "Type": "Task",
      "Comment": "Phase 1: prices, macro, constituents, universe returns (EC2 via SSM)",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-data pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-data",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "source .venv/bin/activate",
            "python weekly_collector.py --phase 1 2>&1 | tee /var/log/data-phase1.log"
          ],
          "executionTimeout": ["1800"]
        },
        "TimeoutSeconds": 1800
      },
      "TimeoutSeconds": 1860,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.data_phase1_result",
      "Next": "WaitForDataPhase1"
    },

    "WaitForDataPhase1": {
      "Type": "Task",
      "Comment": "Poll SSM command until complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.data_phase1_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.data_phase1_poll",
      "Next": "CheckDataPhase1Status"
    },

    "CheckDataPhase1Status": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.data_phase1_poll.Status",
          "StringEquals": "Success",
          "Next": "RAGIngestion"
        },
        {
          "Variable": "$.data_phase1_poll.Status",
          "StringEquals": "InProgress",
          "Next": "DataPhase1Wait"
        },
        {
          "Variable": "$.data_phase1_poll.Status",
          "StringEquals": "Pending",
          "Next": "DataPhase1Wait"
        }
      ],
      "Default": "ExtractDataPhase1Error"
    },

    "DataPhase1Wait": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "WaitForDataPhase1"
    },

    "RAGIngestion": {
      "Type": "Task",
      "Comment": "RAG ingestion — SEC filings, 8-Ks, earnings, theses, filing changes (EC2 via SSM). Must run before Research so RAG data is fresh.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-data pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-data",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "source .venv/bin/activate",
            "bash rag/pipelines/run_weekly_ingestion.sh 2>&1 | tee /var/log/rag-ingestion.log"
          ],
          "executionTimeout": ["1800"]
        },
        "TimeoutSeconds": 1800
      },
      "TimeoutSeconds": 1860,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.rag_result",
      "Next": "WaitForRAGIngestion"
    },

    "WaitForRAGIngestion": {
      "Type": "Task",
      "Comment": "Poll SSM command until RAG ingestion complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.rag_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.rag_poll",
      "Next": "CheckRAGStatus"
    },

    "CheckRAGStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.rag_poll.Status",
          "StringEquals": "Success",
          "Next": "Research"
        },
        {
          "Variable": "$.rag_poll.Status",
          "StringEquals": "InProgress",
          "Next": "RAGWait"
        },
        {
          "Variable": "$.rag_poll.Status",
          "StringEquals": "Pending",
          "Next": "RAGWait"
        }
      ],
      "Default": "ExtractRAGError"
    },

    "RAGWait": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "WaitForRAGIngestion"
    },

    "Research": {
      "Type": "Task",
      "Comment": "Research Lambda — generates signals.json",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-research-runner:live",
        "Payload": {
          "weekly_run": true,
          "force": true
        }
      },
      "TimeoutSeconds": 900,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.research_result",
      "Next": "CheckResearchStatus"
    },

    "CheckResearchStatus": {
      "Type": "Choice",
      "Comment": "Verify research returned OK (not ERROR)",
      "Choices": [
        {
          "Variable": "$.research_result.Payload.status",
          "StringEquals": "OK",
          "Next": "DataPhase2"
        },
        {
          "Variable": "$.research_result.Payload.status",
          "StringEquals": "SKIPPED",
          "Next": "DataPhase2"
        }
      ],
      "Default": "ExtractResearchError"
    },

    "DataPhase2": {
      "Type": "Task",
      "Comment": "Phase 2: alternative data for promoted tickers (Lambda)",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-data-collector:live",
        "Payload": {
          "phase": 2
        }
      },
      "TimeoutSeconds": 600,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.data_phase2_result",
      "Next": "PredictorTraining"
    },

    "PredictorTraining": {
      "Type": "Task",
      "Comment": "GBM retrain on spot instance (launched from always-on EC2)",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-predictor pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-predictor",
            "export HOME=/home/ec2-user",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "bash infrastructure/spot_train.sh --full-only 2>&1 | tee /var/log/predictor-training.log"
          ],
          "executionTimeout": ["5400"]
        },
        "TimeoutSeconds": 5400
      },
      "TimeoutSeconds": 5460,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
          "MaxAttempts": 2,
          "IntervalSeconds": 180,
          "BackoffRate": 2.0,
          "Comment": "Retry on failure/timeout — handles spot interruption (new instance on retry)"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.predictor_result",
      "Next": "WaitForPredictorTraining"
    },

    "WaitForPredictorTraining": {
      "Type": "Task",
      "Comment": "Poll SSM command until predictor training complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.predictor_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.predictor_poll",
      "Next": "CheckPredictorStatus"
    },

    "CheckPredictorStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.predictor_poll.Status",
          "StringEquals": "Success",
          "Next": "DriftDetection"
        },
        {
          "Variable": "$.predictor_poll.Status",
          "StringEquals": "InProgress",
          "Next": "PredictorWait"
        },
        {
          "Variable": "$.predictor_poll.Status",
          "StringEquals": "Pending",
          "Next": "PredictorWait"
        }
      ],
      "Default": "ExtractPredictorError"
    },

    "PredictorWait": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "WaitForPredictorTraining"
    },

    "DriftDetection": {
      "Type": "Task",
      "Comment": "Check feature + prediction drift after training (non-blocking). Uses data venv for numpy/boto3, PYTHONPATH for predictor module.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "export HOME=/home/ec2-user",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-data pull --ff-only origin main",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-predictor pull --ff-only origin main",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "export PYTHONPATH=/home/ec2-user/alpha-engine-predictor",
            "/home/ec2-user/alpha-engine-data/.venv/bin/python -m monitoring.drift_detector --alert 2>&1 | tee /var/log/drift-detection.log"
          ],
          "executionTimeout": ["300"]
        },
        "TimeoutSeconds": 300
      },
      "TimeoutSeconds": 330,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Drift detection is non-blocking — continue to backtester",
          "Next": "Backtester",
          "ResultPath": "$.drift_error"
        }
      ],
      "ResultPath": "$.drift_result",
      "Next": "Backtester"
    },

    "Backtester": {
      "Type": "Task",
      "Comment": "Signal quality + param optimization on spot instance (after predictor training)",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-backtester pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-backtester",
            "export HOME=/home/ec2-user",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "bash infrastructure/spot_backtest.sh 2>&1 | tee /var/log/backtester.log"
          ],
          "executionTimeout": ["7200"]
        },
        "TimeoutSeconds": 7200
      },
      "TimeoutSeconds": 7260,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
          "MaxAttempts": 2,
          "IntervalSeconds": 180,
          "BackoffRate": 2.0,
          "Comment": "Retry on failure/timeout — handles spot interruption (new instance on retry)"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.backtester_result",
      "Next": "WaitForBacktester"
    },

    "WaitForBacktester": {
      "Type": "Task",
      "Comment": "Poll SSM command until backtester complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.backtester_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.backtester_poll",
      "Next": "CheckBacktesterStatus"
    },

    "CheckBacktesterStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.backtester_poll.Status",
          "StringEquals": "Success",
          "Next": "SaturdayHealthCheck"
        },
        {
          "Variable": "$.backtester_poll.Status",
          "StringEquals": "InProgress",
          "Next": "BacktesterWait"
        },
        {
          "Variable": "$.backtester_poll.Status",
          "StringEquals": "Pending",
          "Next": "BacktesterWait"
        }
      ],
      "Default": "ExtractBacktesterError"
    },

    "BacktesterWait": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "WaitForBacktester"
    },

    "SaturdayHealthCheck": {
      "Type": "Task",
      "Comment": "Check data freshness after full pipeline — non-blocking (alerts on failure but does not halt)",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-data pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-data",
            "source .venv/bin/activate",
            "python health_checker.py --alert 2>&1 | tee /var/log/health-check.log"
          ],
          "executionTimeout": ["60"]
        },
        "TimeoutSeconds": 60
      },
      "TimeoutSeconds": 90,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Health check failure is non-blocking — continue to notify",
          "Next": "NotifyComplete",
          "ResultPath": "$.health_check_error"
        }
      ],
      "ResultPath": "$.health_check_result",
      "Next": "WaitForSaturdayHealthCheck"
    },

    "WaitForSaturdayHealthCheck": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.health_check_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 5,
          "IntervalSeconds": 5,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Non-blocking — continue even if polling fails",
          "Next": "NotifyComplete",
          "ResultPath": "$.health_check_error"
        }
      ],
      "ResultPath": "$.health_check_poll",
      "Next": "NotifyComplete"
    },

    "NotifyComplete": {
      "Type": "Task",
      "Comment": "Success notification via SNS",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Saturday Pipeline — SUCCESS",
        "Message": "All steps completed successfully. Check dashboard for results."
      },
      "ResultPath": "$.notify_result",
      "End": true
    },

    "ExtractDataPhase1Error": {
      "Type": "Pass",
      "Comment": "Normalize DataPhase1 SSM non-Success poll into $.error so HandleFailure's States.Format template has something to serialize (the soft-failure path from CheckDataPhase1Status.Default does not populate $.error — only Task Catch blocks do).",
      "Parameters": {
        "phase": "DataPhase1",
        "source": "CheckDataPhase1Status.Default",
        "poll.$": "$.data_phase1_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },

    "ExtractRAGError": {
      "Type": "Pass",
      "Comment": "Normalize RAGIngestion SSM non-Success poll into $.error.",
      "Parameters": {
        "phase": "RAGIngestion",
        "source": "CheckRAGStatus.Default",
        "poll.$": "$.rag_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },

    "ExtractResearchError": {
      "Type": "Pass",
      "Comment": "Normalize Research Lambda soft-failure payload (status != OK) into $.error. Research handler always returns {status, date, error} on the ERROR path so copying the whole Payload is safe and preserves the real traceback string.",
      "Parameters": {
        "phase": "Research",
        "source": "CheckResearchStatus.Default",
        "payload.$": "$.research_result.Payload"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },

    "ExtractPredictorError": {
      "Type": "Pass",
      "Comment": "Normalize PredictorTraining SSM non-Success poll into $.error.",
      "Parameters": {
        "phase": "PredictorTraining",
        "source": "CheckPredictorStatus.Default",
        "poll.$": "$.predictor_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },

    "ExtractBacktesterError": {
      "Type": "Pass",
      "Comment": "Normalize Backtester SSM non-Success poll into $.error.",
      "Parameters": {
        "phase": "Backtester",
        "source": "CheckBacktesterStatus.Default",
        "poll.$": "$.backtester_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },

    "HandleFailure": {
      "Type": "Task",
      "Comment": "Failure alert via SNS — pipeline halts",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Saturday Pipeline — FAILED",
        "Message.$": "States.Format('Pipeline failed. Error: {}. Use Step Functions console to redrive from failed step.', States.JsonToString($.error))"
      },
      "ResultPath": "$.failure_notify",
      "Next": "FailExecution"
    },

    "FailExecution": {
      "Type": "Fail",
      "Error": "PipelineFailure",
      "Cause": "One or more pipeline steps failed. Check CloudWatch logs and redrive from the Step Functions console."
    }
  }
}
