infrastructure/step_function_daily.json
{
  "Comment": "Alpha Engine Weekday Pipeline — predictor inference and executor start. Runs Mon-Fri 6:05 AM PT (13:05 UTC). DailyData moved to post-close (1:05 PM PT) systemd timer on ae-trading — see alpha-engine repo's alpha-engine-daily-data.timer (2026-04-17 incident: pre-market polygon grouped-daily silently returned T-1 data labeled as T).",
  "StartAt": "CheckTradingDay",
  "States": {

    "CheckTradingDay": {
      "Type": "Task",
      "Comment": "Skip pipeline on NYSE holidays (Good Friday, MLK Day, etc.)",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "cd /home/ec2-user/alpha-engine-dashboard",
            "source .venv/bin/activate",
            "python trading_calendar.py"
          ],
          "executionTimeout": ["30"]
        },
        "TimeoutSeconds": 30
      },
      "TimeoutSeconds": 60,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "TradingDayCheckFailed",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.trading_day_result",
      "Next": "WaitForTradingDayCheck"
    },

    "WaitForTradingDayCheck": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.trading_day_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 5,
          "IntervalSeconds": 5,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "TradingDayCheckFailed",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.trading_day_poll",
      "Next": "CheckTradingDayResult"
    },

    "CheckTradingDayResult": {
      "Type": "Choice",
      "Comment": "Check SSM status first (InProgress/Pending = poll again), then check stdout for TRADING_DAY vs MARKET_CLOSED marker. Script always exits 0 — Failed means a real error.",
      "Choices": [
        {
          "Variable": "$.trading_day_poll.Status",
          "StringEquals": "InProgress",
          "Next": "TradingDayCheckWait"
        },
        {
          "Variable": "$.trading_day_poll.Status",
          "StringEquals": "Pending",
          "Next": "TradingDayCheckWait"
        },
        {
          "Variable": "$.trading_day_poll.Status",
          "StringEquals": "Failed",
          "Next": "TradingDayCheckFailed"
        },
        {
          "And": [
            {
              "Variable": "$.trading_day_poll.Status",
              "StringEquals": "Success"
            },
            {
              "Variable": "$.trading_day_poll.StandardOutputContent",
              "StringMatches": "*MARKET_CLOSED*"
            }
          ],
          "Next": "NotifyHolidaySkip"
        },
        {
          "And": [
            {
              "Variable": "$.trading_day_poll.Status",
              "StringEquals": "Success"
            },
            {
              "Variable": "$.trading_day_poll.StandardOutputContent",
              "StringMatches": "*TRADING DAY*"
            }
          ],
          "Next": "StartExecutorEC2"
        }
      ],
      "Default": "TradingDayCheckFailed"
    },

    "TradingDayCheckWait": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "WaitForTradingDayCheck"
    },

    "TradingDayCheckFailed": {
      "Type": "Task",
      "Comment": "Trading day check failed for infrastructure reasons — alert and proceed (assume trading day)",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Weekday Pipeline — Trading Day Check Failed (Proceeding)",
        "Message.$": "States.Format('Trading day check failed (SSM error, not a holiday detection). Pipeline proceeding as trading day. State: {}', States.JsonToString($))"
      },
      "ResultPath": "$.trading_day_error_notify",
      "Next": "StartExecutorEC2"
    },

    "NotifyHolidaySkip": {
      "Type": "Task",
      "Comment": "Notify that pipeline was skipped — trading_calendar.py stdout contains MARKET_CLOSED",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Weekday Pipeline — Skipped (Market Holiday)",
        "Message": "Daily pipeline skipped — NYSE is closed today (market holiday or weekend). No data collection, inference, or trading."
      },
      "ResultPath": "$.holiday_notify",
      "End": true
    },

    "StartExecutorEC2": {
      "Type": "Task",
      "Comment": "Start ae-trading (t3.small) early — needed for both DailyData (data collection) and RunMorningPlanner (executor). No-op if already running.",
      "Resource": "arn:aws:states:::aws-sdk:ec2:startInstances",
      "Parameters": {
        "InstanceIds.$": "$.trading_instance_id"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "MaxAttempts": 2,
          "IntervalSeconds": 30,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.ec2_start_result",
      "Next": "WaitForInstanceReady"
    },

    "WaitForInstanceReady": {
      "Type": "Wait",
      "Comment": "Wait for SSM agent to register (~30s typical). IB Gateway authenticates in the background; wait-for-ibgateway.sh handles it before RunMorningPlanner.",
      "Seconds": 60,
      "Next": "PredictorInference"
    },

    "PredictorInference": {
      "Type": "Task",
      "Comment": "Run daily GBM predictions + morning briefing email",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-predictor-inference:live",
        "Payload": {
          "action": "predict"
        }
      },
      "TimeoutSeconds": 900,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.predictor_result",
      "Next": "PredictorHealthCheck"
    },

    "PredictorHealthCheck": {
      "Type": "Task",
      "Comment": "Daily predictor model health — IC, hit rate, calibration, retrain triggers",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-predictor-health-check:live",
        "Payload": {
          "action": "check"
        }
      },
      "TimeoutSeconds": 180,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 30,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Health check is non-blocking — continue to data health check and executor",
          "Next": "HealthCheck",
          "ResultPath": "$.predictor_health_error"
        }
      ],
      "ResultPath": "$.predictor_health_result",
      "Next": "HealthCheck"
    },

    "HealthCheck": {
      "Type": "Task",
      "Comment": "Check data freshness — non-blocking (alerts on failure but does not halt pipeline)",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "cd /home/ec2-user/alpha-engine-dashboard",
            "source .venv/bin/activate",
            "python health_checker.py --alert 2>&1 | tee /var/log/health-check.log"
          ],
          "executionTimeout": ["60"]
        },
        "TimeoutSeconds": 60
      },
      "TimeoutSeconds": 90,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Health check failure is non-blocking — log and continue to executor",
          "Next": "RunMorningPlanner",
          "ResultPath": "$.health_check_error"
        }
      ],
      "ResultPath": "$.health_check_result",
      "Next": "WaitForHealthCheck"
    },

    "WaitForHealthCheck": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.health_check_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 5,
          "IntervalSeconds": 5,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Non-blocking — continue even if health check polling fails",
          "Next": "RunMorningPlanner",
          "ResultPath": "$.health_check_error"
        }
      ],
      "ResultPath": "$.health_check_poll",
      "Next": "RunMorningPlanner"
    },

    "RunMorningPlanner": {
      "Type": "Task",
      "Comment": "Run morning order-book planner via SSM",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.trading_instance_id",
        "Parameters": {
          "commands": [
            "cd /home/ec2-user/alpha-engine",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "source .venv/bin/activate",
            "/home/ec2-user/alpha-engine/infrastructure/wait-for-ibgateway.sh",
            "python executor/main.py 2>&1 | tee -a /var/log/executor.log"
          ],
          "executionTimeout": ["300"]
        },
        "TimeoutSeconds": 300
      },
      "TimeoutSeconds": 360,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.planner_result",
      "Next": "WaitForMorningPlanner"
    },

    "WaitForMorningPlanner": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.planner_result.Command.CommandId",
        "InstanceId.$": "$.trading_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 10,
          "IntervalSeconds": 10,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.planner_poll",
      "Next": "CheckMorningPlannerStatus"
    },

    "CheckMorningPlannerStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.planner_poll.Status",
          "StringEquals": "Success",
          "Next": "RunDaemon"
        },
        {
          "Variable": "$.planner_poll.Status",
          "StringEquals": "InProgress",
          "Next": "MorningPlannerWait"
        },
        {
          "Variable": "$.planner_poll.Status",
          "StringEquals": "Pending",
          "Next": "MorningPlannerWait"
        }
      ],
      "Default": "HandleFailure"
    },

    "MorningPlannerWait": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "WaitForMorningPlanner"
    },

    "RunDaemon": {
      "Type": "Task",
      "Comment": "Restart the intraday daemon via SSM",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.trading_instance_id",
        "Parameters": {
          "commands": [
            "sudo systemctl restart alpha-engine-daemon.service",
            "echo 'Daemon restarted'"
          ],
          "executionTimeout": ["30"]
        },
        "TimeoutSeconds": 30
      },
      "TimeoutSeconds": 60,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Daemon restart failure is non-fatal — systemd boot trigger is backup",
          "Next": "PipelineComplete",
          "ResultPath": "$.daemon_error"
        }
      ],
      "ResultPath": "$.daemon_result",
      "End": true
    },

    "PipelineComplete": {
      "Type": "Succeed"
    },

    "HandleFailure": {
      "Type": "Task",
      "Comment": "Failure alert via SNS",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Weekday Pipeline — FAILED",
        "Message.$": "States.Format('Weekday pipeline failed. State: {}', States.JsonToString($))"
      },
      "ResultPath": "$.failure_notify",
      "Next": "FailExecution"
    },

    "FailExecution": {
      "Type": "Fail",
      "Error": "DailyPipelineFailure",
      "Cause": "One or more weekday pipeline steps failed."
    }
  }
}
