infrastructure/step_function_eod.json
{
  "Comment": "Alpha Engine EOD Pipeline — post-market data capture (yfinance OHLCV, VWAP=NaN), reconciliation, instance shutdown. Triggered by daemon shutdown on ae-trading. PostMarketData runs the FULL daily flow (closes + features + ArcticDB append) so this SF is now the sole canonical EOD path — the alpha-engine-daily-data systemd timer was deleted as part of the same change. Daily VWAP gets filled the next morning by the weekday SF's MorningEnrich step (polygon overwrite).",
  "StartAt": "PostMarketData",
  "States": {

    "PostMarketData": {
      "Type": "Task",
      "Comment": "Run the full daily flow on ae-trading: yfinance-only daily_closes, feature store snapshot, ArcticDB daily_append. Replaced the prior split-command pattern (closes + append separately) after PR 1 unified --daily under source=yfinance_only. Runs on ae-trading (was micro pre-2026-04-24) so the t3.small RAM avoids the 2026-04-16 OOM regression that originally moved DailyData off the micro instance.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.trading_instance_id",
        "Parameters": {
          "commands": [
            "cd /home/ec2-user/alpha-engine-data",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "source .venv/bin/activate",
            "python weekly_collector.py --daily 2>&1 | tee -a /var/log/postmarket-data.log"
          ],
          "executionTimeout": ["720"]
        },
        "TimeoutSeconds": 720
      },
      "TimeoutSeconds": 780,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "MaxAttempts": 1,
          "IntervalSeconds": 30,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "PostMarketData failure is non-blocking — EOD can still use IB Gateway prices as fallback",
          "Next": "EODReconcile",
          "ResultPath": "$.postmarket_error"
        }
      ],
      "ResultPath": "$.postmarket_result",
      "Next": "WaitForPostMarketData"
    },

    "WaitForPostMarketData": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.postmarket_result.Command.CommandId",
        "InstanceId.$": "$.trading_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 10,
          "IntervalSeconds": 10,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "EODReconcile",
          "ResultPath": "$.postmarket_error"
        }
      ],
      "ResultPath": "$.postmarket_poll",
      "Next": "CheckPostMarketStatus"
    },

    "CheckPostMarketStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.postmarket_poll.Status",
          "StringEquals": "Success",
          "Next": "EODReconcile"
        },
        {
          "Variable": "$.postmarket_poll.Status",
          "StringEquals": "InProgress",
          "Next": "PostMarketWait"
        },
        {
          "Variable": "$.postmarket_poll.Status",
          "StringEquals": "Pending",
          "Next": "PostMarketWait"
        }
      ],
      "Default": "EODReconcile"
    },

    "PostMarketWait": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "WaitForPostMarketData"
    },

    "EODReconcile": {
      "Type": "Task",
      "Comment": "Run EOD reconciliation on trading EC2 — reads closes from S3, computes P&L, sends email",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.trading_instance_id",
        "Parameters": {
          "commands": [
            "cd /home/ec2-user/alpha-engine",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "source .venv/bin/activate",
            "python executor/eod_reconcile.py 2>&1 | tee /var/log/eod.log"
          ],
          "executionTimeout": ["120"]
        },
        "TimeoutSeconds": 120
      },
      "TimeoutSeconds": 180,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "MaxAttempts": 1,
          "IntervalSeconds": 30,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "StopTradingInstance",
          "ResultPath": "$.eod_error"
        }
      ],
      "ResultPath": "$.eod_result",
      "Next": "WaitForEOD"
    },

    "WaitForEOD": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.eod_result.Command.CommandId",
        "InstanceId.$": "$.trading_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 10,
          "IntervalSeconds": 10,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "StopTradingInstance",
          "ResultPath": "$.eod_error"
        }
      ],
      "ResultPath": "$.eod_poll",
      "Next": "CheckEODStatus"
    },

    "CheckEODStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.eod_poll.Status",
          "StringEquals": "Success",
          "Next": "StopTradingInstance"
        },
        {
          "Variable": "$.eod_poll.Status",
          "StringEquals": "InProgress",
          "Next": "EODWait"
        },
        {
          "Variable": "$.eod_poll.Status",
          "StringEquals": "Pending",
          "Next": "EODWait"
        }
      ],
      "Default": "StopTradingInstance"
    },

    "EODWait": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "WaitForEOD"
    },

    "StopTradingInstance": {
      "Type": "Task",
      "Comment": "Stop trading EC2 instance after EOD completes",
      "Resource": "arn:aws:states:::aws-sdk:ec2:stopInstances",
      "Parameters": {
        "InstanceIds.$": "$.trading_instance_id"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "MaxAttempts": 2,
          "IntervalSeconds": 30,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.stop_result",
      "End": true
    },

    "HandleFailure": {
      "Type": "Task",
      "Comment": "Failure alert via SNS — instance still stops to avoid cost",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine EOD Pipeline — FAILED",
        "Message.$": "States.Format('EOD pipeline failed. Error: {}', States.JsonToString($.error))"
      },
      "ResultPath": "$.failure_notify",
      "Next": "ForceStopInstance"
    },

    "ForceStopInstance": {
      "Type": "Task",
      "Comment": "Always stop trading instance even on failure — avoid cost overrun",
      "Resource": "arn:aws:states:::aws-sdk:ec2:stopInstances",
      "Parameters": {
        "InstanceIds.$": "$.trading_instance_id"
      },
      "ResultPath": "$.force_stop_result",
      "Next": "FailExecution"
    },

    "FailExecution": {
      "Type": "Fail",
      "Error": "EODPipelineFailure",
      "Cause": "EOD pipeline failed — trading instance stopped, check logs."
    }
  }
}
