infrastructure/step_function.json
{
  "Comment": "Alpha Engine Saturday Pipeline — orchestrates weekly data collection, RAG ingestion, research, predictor training, and backtesting sequentially with fail-fast error handling. RAG runs before Research (fresh knowledge base). Backtester runs AFTER predictor training (depends on model weights). Supports partial execution via boolean skip_* flags on input (e.g. {\"skip_data_phase1\": true}); a missing flag is treated as false, so scheduled runs are unaffected.",
  "StartAt": "InitializeInput",
  "States": {

    "InitializeInput": {
      "Type": "Pass",
      "Comment": "Layer defaults under the execution input so manual invocations don't have to pass every field. Scheduled EventBridge runs pass sns_topic_arn + ec2_instance_id explicitly; manual runs for partial-execution testing often omit sns_topic_arn, which previously caused HandleFailure/NotifyComplete to error on missing JSONPath. States.JsonMerge with user-input as the second arg lets explicit values win.",
      "Parameters": {
        "merged.$": "States.JsonMerge(States.StringToJson('{\"sns_topic_arn\":\"arn:aws:sns:us-east-1:711398986525:alpha-engine-alerts\"}'), $$.Execution.Input, false)"
      },
      "OutputPath": "$.merged",
      "Next": "CheckSkipDataPhase1"
    },

    "CheckSkipDataPhase1": {
      "Type": "Choice",
      "Comment": "Skip-gate. Input like {\"skip_data_phase1\": true} routes past DataPhase1 directly to the next skip-gate. Missing flag = run as normal.",
      "Choices": [
        {
          "And": [
            {"Variable": "$.skip_data_phase1", "IsPresent": true},
            {"Variable": "$.skip_data_phase1", "BooleanEquals": true}
          ],
          "Next": "CheckSkipResearch"
        }
      ],
      "Default": "DataPhase1"
    },

    "DataPhase1": {
      "Type": "Task",
      "Comment": "Bundled weekly data: DataPhase1 + RAGIngestion on a single spot EC2. Micro is the dispatcher (launches spot via bash + AWS CLI; no heavy venv needed). One bootstrap cycle serves both workloads — saves ~7 min vs separate spots.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-data pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-data",
            "export HOME=/home/ec2-user",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "bash infrastructure/spot_data_weekly.sh 2>&1 | tee /var/log/data-weekly.log"
          ],
          "executionTimeout": ["5400"]
        },
        "TimeoutSeconds": 5400
      },
      "TimeoutSeconds": 5460,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.data_phase1_result",
      "Next": "WaitForDataPhase1"
    },

    "WaitForDataPhase1": {
      "Type": "Task",
      "Comment": "Poll SSM command until complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.data_phase1_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.data_phase1_poll",
      "Next": "CheckDataPhase1Status"
    },

    "CheckDataPhase1Status": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.data_phase1_poll.Status",
          "StringEquals": "Success",
          "Next": "CheckSkipResearch"
        },
        {
          "Variable": "$.data_phase1_poll.Status",
          "StringEquals": "InProgress",
          "Next": "DataPhase1Wait"
        },
        {
          "Variable": "$.data_phase1_poll.Status",
          "StringEquals": "Pending",
          "Next": "DataPhase1Wait"
        }
      ],
      "Default": "ExtractDataPhase1Error"
    },

    "DataPhase1Wait": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "WaitForDataPhase1"
    },

    "CheckSkipResearch": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_research\": true} bypasses the research Lambda and jumps to DataPhase2's skip-gate.",
      "Choices": [
        {
          "And": [
            {"Variable": "$.skip_research", "IsPresent": true},
            {"Variable": "$.skip_research", "BooleanEquals": true}
          ],
          "Next": "CheckSkipDataPhase2"
        }
      ],
      "Default": "Research"
    },

    "Research": {
      "Type": "Task",
      "Comment": "Research Lambda — generates signals.json",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-research-runner:live",
        "Payload": {
          "weekly_run": true,
          "force": true
        }
      },
      "TimeoutSeconds": 900,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.research_result",
      "Next": "CheckResearchStatus"
    },

    "CheckResearchStatus": {
      "Type": "Choice",
      "Comment": "Verify research returned OK (not ERROR)",
      "Choices": [
        {
          "Variable": "$.research_result.Payload.status",
          "StringEquals": "OK",
          "Next": "CheckSkipDataPhase2"
        },
        {
          "Variable": "$.research_result.Payload.status",
          "StringEquals": "SKIPPED",
          "Next": "CheckSkipDataPhase2"
        }
      ],
      "Default": "ExtractResearchError"
    },

    "CheckSkipDataPhase2": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_data_phase2\": true} bypasses the Phase 2 Lambda and jumps to PredictorTraining's skip-gate.",
      "Choices": [
        {
          "And": [
            {"Variable": "$.skip_data_phase2", "IsPresent": true},
            {"Variable": "$.skip_data_phase2", "BooleanEquals": true}
          ],
          "Next": "CheckSkipPredictorTraining"
        }
      ],
      "Default": "DataPhase2"
    },

    "DataPhase2": {
      "Type": "Task",
      "Comment": "Phase 2: alternative data for promoted tickers (Lambda)",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-data-collector:live",
        "Payload": {
          "phase": 2
        }
      },
      "TimeoutSeconds": 600,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.data_phase2_result",
      "Next": "CheckSkipPredictorTraining"
    },

    "CheckSkipPredictorTraining": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_predictor_training\": true} bypasses GBM retrain and jumps to DriftDetection's skip-gate.",
      "Choices": [
        {
          "And": [
            {"Variable": "$.skip_predictor_training", "IsPresent": true},
            {"Variable": "$.skip_predictor_training", "BooleanEquals": true}
          ],
          "Next": "CheckSkipDriftDetection"
        }
      ],
      "Default": "PredictorTraining"
    },

    "PredictorTraining": {
      "Type": "Task",
      "Comment": "GBM retrain on spot instance (launched from always-on EC2)",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-predictor pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-predictor",
            "export HOME=/home/ec2-user",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "bash infrastructure/spot_train.sh --full-only 2>&1 | tee /var/log/predictor-training.log"
          ],
          "executionTimeout": ["5400"]
        },
        "TimeoutSeconds": 5400
      },
      "TimeoutSeconds": 5460,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
          "MaxAttempts": 2,
          "IntervalSeconds": 180,
          "BackoffRate": 2.0,
          "Comment": "Retry on failure/timeout — handles spot interruption (new instance on retry)"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.predictor_result",
      "Next": "WaitForPredictorTraining"
    },

    "WaitForPredictorTraining": {
      "Type": "Task",
      "Comment": "Poll SSM command until predictor training complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.predictor_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.predictor_poll",
      "Next": "CheckPredictorStatus"
    },

    "CheckPredictorStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.predictor_poll.Status",
          "StringEquals": "Success",
          "Next": "CheckSkipDriftDetection"
        },
        {
          "Variable": "$.predictor_poll.Status",
          "StringEquals": "InProgress",
          "Next": "PredictorWait"
        },
        {
          "Variable": "$.predictor_poll.Status",
          "StringEquals": "Pending",
          "Next": "PredictorWait"
        }
      ],
      "Default": "ExtractPredictorError"
    },

    "PredictorWait": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "WaitForPredictorTraining"
    },

    "CheckSkipDriftDetection": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_drift_detection\": true} bypasses drift detection and jumps to Backtester's skip-gate.",
      "Choices": [
        {
          "And": [
            {"Variable": "$.skip_drift_detection", "IsPresent": true},
            {"Variable": "$.skip_drift_detection", "BooleanEquals": true}
          ],
          "Next": "CheckSkipBacktester"
        }
      ],
      "Default": "DriftDetection"
    },

    "DriftDetection": {
      "Type": "Task",
      "Comment": "Feature + prediction drift check on spot EC2 (non-blocking). Micro is the dispatcher; launcher clones data + predictor on a fresh spot, runs monitoring.drift_detector, terminates.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-data pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-data",
            "export HOME=/home/ec2-user",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "bash infrastructure/spot_drift_detection.sh 2>&1 | tee /var/log/drift-detection.log"
          ],
          "executionTimeout": ["1200"]
        },
        "TimeoutSeconds": 1200
      },
      "TimeoutSeconds": 1260,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Drift detection is non-blocking — continue to backtester",
          "Next": "CheckSkipBacktester",
          "ResultPath": "$.drift_error"
        }
      ],
      "ResultPath": "$.drift_result",
      "Next": "CheckSkipBacktester"
    },

    "CheckSkipBacktester": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_backtester\": true} bypasses the backtester step (which runs backtest + parity + evaluator as consolidated spot stages post-2026-04-24) and jumps directly to the Saturday health check. The legacy {\"skip_evaluator\": true} and {\"freeze_evaluator\": true} inputs are no longer honored; freeze-evaluator is now a spot CLI flag (--freeze-evaluator) invoked manually outside the SF.",
      "Choices": [
        {
          "And": [
            {"Variable": "$.skip_backtester", "IsPresent": true},
            {"Variable": "$.skip_backtester", "BooleanEquals": true}
          ],
          "Next": "SaturdayHealthCheck"
        }
      ],
      "Default": "Backtester"
    },

    "Backtester": {
      "Type": "Task",
      "Comment": "Consolidated backtest + parity + evaluator on spot instance (after predictor training). Post-2026-04-24 spot_backtest.sh runs all three stages in sequence; the previous dedicated Evaluator SF state was retired. Evaluator runs in live-apply mode by default (no --freeze-evaluator flag passed); for diagnostic-only off-cycle runs, invoke spot_backtest.sh manually with --freeze-evaluator and --skip-stages=backtest,parity.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-backtester pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-backtester",
            "export HOME=/home/ec2-user",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "bash infrastructure/spot_backtest.sh 2>&1 | tee /var/log/backtester.log"
          ],
          "executionTimeout": ["7200"]
        },
        "TimeoutSeconds": 7200
      },
      "TimeoutSeconds": 7260,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
          "MaxAttempts": 2,
          "IntervalSeconds": 180,
          "BackoffRate": 2.0,
          "Comment": "Retry on failure/timeout — handles spot interruption (new instance on retry)"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.backtester_result",
      "Next": "WaitForBacktester"
    },

    "WaitForBacktester": {
      "Type": "Task",
      "Comment": "Poll SSM command until backtester complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.backtester_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.backtester_poll",
      "Next": "CheckBacktesterStatus"
    },

    "CheckBacktesterStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.backtester_poll.Status",
          "StringEquals": "Success",
          "Next": "SaturdayHealthCheck"
        },
        {
          "Variable": "$.backtester_poll.Status",
          "StringEquals": "InProgress",
          "Next": "BacktesterWait"
        },
        {
          "Variable": "$.backtester_poll.Status",
          "StringEquals": "Pending",
          "Next": "BacktesterWait"
        }
      ],
      "Default": "ExtractBacktesterError"
    },

    "BacktesterWait": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "WaitForBacktester"
    },

    "SaturdayHealthCheck": {
      "Type": "Task",
      "Comment": "Check data freshness after full pipeline — non-blocking (alerts on failure but does not halt). Runs from alpha-engine-dashboard post-2026-04-16 health_checker migration.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-dashboard pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-dashboard",
            "source .venv/bin/activate",
            "python health_checker.py --alert 2>&1 | tee /var/log/health-check.log"
          ],
          "executionTimeout": ["60"]
        },
        "TimeoutSeconds": 60
      },
      "TimeoutSeconds": 90,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Health check failure is non-blocking — continue to notify",
          "Next": "NotifyComplete",
          "ResultPath": "$.health_check_error"
        }
      ],
      "ResultPath": "$.health_check_result",
      "Next": "WaitForSaturdayHealthCheck"
    },

    "WaitForSaturdayHealthCheck": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.health_check_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 5,
          "IntervalSeconds": 5,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Non-blocking — continue even if polling fails",
          "Next": "NotifyComplete",
          "ResultPath": "$.health_check_error"
        }
      ],
      "ResultPath": "$.health_check_poll",
      "Next": "NotifyComplete"
    },

    "NotifyComplete": {
      "Type": "Task",
      "Comment": "Success notification via SNS",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Saturday Pipeline — SUCCESS",
        "Message": "All steps completed successfully. Check dashboard for results."
      },
      "ResultPath": "$.notify_result",
      "End": true
    },

    "ExtractDataPhase1Error": {
      "Type": "Pass",
      "Comment": "Normalize DataPhase1 SSM non-Success poll into $.error so HandleFailure's States.Format template has something to serialize (the soft-failure path from CheckDataPhase1Status.Default does not populate $.error — only Task Catch blocks do).",
      "Parameters": {
        "phase": "DataPhase1",
        "source": "CheckDataPhase1Status.Default",
        "poll.$": "$.data_phase1_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },

    "ExtractResearchError": {
      "Type": "Pass",
      "Comment": "Normalize Research Lambda soft-failure payload (status != OK) into $.error. Research handler always returns {status, date, error} on the ERROR path so copying the whole Payload is safe and preserves the real traceback string.",
      "Parameters": {
        "phase": "Research",
        "source": "CheckResearchStatus.Default",
        "payload.$": "$.research_result.Payload"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },

    "ExtractPredictorError": {
      "Type": "Pass",
      "Comment": "Normalize PredictorTraining SSM non-Success poll into $.error.",
      "Parameters": {
        "phase": "PredictorTraining",
        "source": "CheckPredictorStatus.Default",
        "poll.$": "$.predictor_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },

    "ExtractBacktesterError": {
      "Type": "Pass",
      "Comment": "Normalize Backtester SSM non-Success poll into $.error.",
      "Parameters": {
        "phase": "Backtester",
        "source": "CheckBacktesterStatus.Default",
        "poll.$": "$.backtester_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },

    "HandleFailure": {
      "Type": "Task",
      "Comment": "Failure alert via SNS — pipeline halts",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Saturday Pipeline — FAILED",
        "Message.$": "States.Format('Pipeline failed. Error: {}. Use Step Functions console to redrive from failed step.', States.JsonToString($.error))"
      },
      "ResultPath": "$.failure_notify",
      "Next": "FailExecution"
    },

    "FailExecution": {
      "Type": "Fail",
      "Error": "PipelineFailure",
      "Cause": "One or more pipeline steps failed. Check CloudWatch logs and redrive from the Step Functions console."
    }
  }
}
